SQLALCHEMY_DATABASE_URI=postgresql://user:user@db:5432/user

API_URL=https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json

CELERY_BROKER_URL=redis://redis_container:6379/0

CELERY_RESULT_BACKEND=redis://redis_container:6379/0

SECRET_KEY=59ceec65a970fa3b1a00830e53081eb6f565c272